* text=auto eol=lf

**/node_modules/
*.log export-ignore
.DS_Store export-ignore
.vscode/ export-ignore
.idea/ export-ignore
dist/ export-ignore
build/ export-ignore
.env export-ignore
.env.* export-ignore
.DS_Store export-ignore
package-lock.json export-ignore
yarn.lock export-ignore
pnpm-lock.yaml export-ignore